@charset "utf-8";
/* CSS Document */


/**
 * global
 */

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: pre-line		/* 识别文本换行 */
}
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	/* font-size: 100px; rem use*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	position: relative;
	height: 100%;
}
body {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
	position: relative;
	height: 100%;
	-webkit-overflow-scrolling: touch;	/* 调用苹果系统原生滚动事件优化弹性滚动，增加页面滚动的流畅度 */
}
.box {
	border: solid 1px #e5e5e5;
	padding: 20px;
	margin-bottom: 20px;
}
.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.text--left {
	text-align: left !important;
}
.text--right {
	text-align: right !important;
}
.text--center {
	 text-align: center !important;
}
.pull--left {
	float: left !important;
}
.pull--right {
	float: right !important;
}
.red {
	color: #d9534f;
}
.green {
	color: #28b491;
}
.blue {
	color: #22b2ee;
}
.grey {
	color: #e6e6e6;
}
.orange {
	color: #ffb053;
}
[class^="bg--"] {
	color: #fff;
	font-size: 12px;
	line-height: 1;
	padding: 3px 6px;
	border-radius: 4px;
	display: inline-block;
}
.bg--green {
	background-color: #28b491;
}
.bg--red {
	background-color: #d9534f;
}
.bg--blue {
	background-color: #22b2ee;
}
.bg--orange {
	background-color: #ffb053;
}
.bg--grey {
	background-color: #e6e6e6;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.navbar:before,
.navbar:after,
.navbar--collapse:before,
.navbar--collapse:after,
.btn__action:before,
.btn__action:after,
.form__group:before,
.form__group:after,
.dl-horizontal:before,
.dl-horizontal:after {
	content: "";
	display: table;
}
.clearfix:after,
.container:after,
.row:after,
.navbar:after,
.navbar--collapse:after,
.btn__action:after,
.form__group:after,
.dl-horizontal:after {
	clear: both;
	overflow: hidden;
}
.clearfix,
.container,
.row,
.navbar,
.navbar--collapse,
.btn__action,
.form__group,
.dl-horizontal {
	zoom: 1;
}
.fade {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.fade.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapse.navbar--collapse {
	display: block;
}
hgroup {
	border-bottom: solid 2px #e5e5e5;
	margin-bottom: 10px;
}
hgroup h2 {
	font-weight: bold;
}
hgroup h2 small {
	font-size: 12px;
	color: #999;
}
.help--tips,
.help--block {
	color: #999999;
	font-size: 12px;
	height: 14px;
	line-height: 1;
	margin: 0;
	padding: 0;
}
.help--tips {
	display: inline;
}
.help--block {
	display: block;
}

