@charset "utf-8";

/**
 * media
 */
@media (prefers-color-schem: light) {
	:root {
		--background-color: #333;
		--text-color: #333;
		--link-color: #333;
	}
}

@media (prefers-color-schem: dark) {
	:root {
		--background-color: #fff;
		--text-color: #fff;
		--link-color: #fff;
	}
}

/* 横屏 */
@media all and (orientation: landscape) {
	/* 自定义样式 */
}
/* 竖屏 */
@media all and (orientation: portrait) {
	/* 自定义样式 */
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
}