@charset "utf-8";

/**
 * layout
 */

.container {width: 1200px;margin: 0 auto;}
#main {}

/* header--style */
.header {
	.header__logo {
		float: left;
	}
	.header__h1 {
		font-size: 18px;
		line-height: 20px;
	}
	.header__brand {
		display: inline-block;
		padding: 20px;
		margin-left: -15px;
	}
}

/* nav--style */
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	.nav__item {
		position: relative;
		display: block;
		.nav__link {
			position: relative;
			display: block;
			padding: 10px 15px;
			color: $color;
			line-height: 1.42857143;
			&.active, &:focus, &:hover {
				color: $blackDark;
				background-color: #eee;
			}
		}
		
	}
	&.navbar {
		float: left;

		.nav__item {
			float: left;
			.nav__link {
				padding: 15px;
			}
		}
	}
}

.tab__content {
	>.tab__pane {
		display: none;

		&.active {
			display: block;
		}
	}
}

/* footer */
.footer {width: 100%;min-height: 40px;}
.footer--fixed {position: fixed;left: 0;right: 0;bottom: 0;height: 40px;z-index: 1;}
.footer--absolute {position: absolute;left: 0;right: 0;bottom: 0;height: 100%;}
.footer .btn-item {background-color: #e6e6e6;}
.footer .btn-item .btn {width: 100%;color: #ffffff;height: 40px;line-height: 40px;padding: 0;}
.footer .btn-item .btn-ok {background-color: #1ba1e0;color: $white;}
.footer .btn-item .btn-cancel {background-color: #bfbfbf;}
