@charset "utf-8";

/**
 * form
 */


.form {
	margin-bottom: 15px;
	.form__legend {
		margin-bottom: 10px;
		font-weight: bold;
		background-color: $grey;
		width: 100%;
		display: block;
		line-height: inherit;
		padding: 4px 8px;
		small {
			font-size: .75em;
			font-weight: normal;
			padding: 0 10px;
		}
	}
	fieldset[disabled] {
		.form__control {
			background-color: $inputBgDisabled;
			filter: alpha(opacity=100);
			opacity: 1;
			cursor: not-allowed;
		}
	}
	.form__group {
		margin: 0 0 10px;
		.btn + .btn{
			margin-left: 8px;
		}
	}
	&.form--horizontal {
		.form__label {
			min-height: 1px;
			float: left;
			width: 20%;
			text-align: right;
			padding: 7px 10px 0;
			margin-bottom: 0;
			line-height: 20px;
		}
		.form__item {
			position: relative;
			min-height: 1px;
			width: 80%;
			margin-left: 20%;
			.form__val {
				padding-top: 7px;
				display: inline-block;
				line-height: 20px;
			}
		}
	}
	&.form--inline {
		.sr-only {
			border: 0 none;
			clip: rect(0px, 0px, 0px, 0px);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		.form__group {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
			margin-right: 8px;
		}
		.form__label {
			margin-bottom: 0;
			vertical-align: middle;
		}
		.form__control {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
		.checkbox, .radio {
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
	}
}

.form__file {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	.form__control {
		flex: 1;
		border-right: none;
		border-radius: $borderRadius 0 0 $borderRadius;
	}
	&-item {
		width: 82px;
		position: relative;
		height: $inputHeight;
	}
	&-btn {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
    	height: 100%;
	}
	&-input {
		width: 100%;
		height: $inputHeight;
		z-index: 1;
		opacity: 0;
		filter: alpha(opacity=0);
		text-indent: -9999px;
	}
	&-choose {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		font-size: $tipsFontSize;
		border-radius: 0 $borderRadius $borderRadius 0;
		text-align: center;
		height: $inputHeight;
		padding: 8px 16px;
		color: $btnPrimaryColor;
		background-color: $btnPrimaryBg;
		border: solid 1px $btnPrimaryBorderColor;
	}
}
