@charset "utf-8";

/**
 * modal
 */

.modal-open {
	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: $blackDark;
	&.fade {
		filter: alpha(opacity=0);
		opacity: 0;
	}
	&.in {
		filter: alpha(opacity=50);
		opacity: .5;
	}
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0 none;

	.modal--dialog {
		width: auto;
		margin: 0;

		.modal__content {
			background: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
		}
		.modal__common {
			width: 800px;
			margin: 30px auto;
			position: relative;
			background-color: $white;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border-radius: $borderRadius;
			outline: 0 none;
			box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

			&.xs {
				width: 300px;
			}
			&.sm {
				width: 600px;
			}
			&.lg {
				width: 1000px;
			}
		}
		.modal__header {
			padding: 15px;
			border-bottom: 1px solid $borderColor;
			border-radius: $borderRadius $borderRadius 0 0;

			.close {
				float: right;
				font-size: $headFontSize;
			}
		}
		.modal__body {
			position: relative;
			padding: 15px;

			.modal__select {
				padding: 15px;

				.modal__select-left, .modal__select-right {
					width: 45%;
					float: left;
					height: 307px;
					border: solid 1px $borderColor;
					overflow-y: auto;

					.table {
						margin-bottom: 0;
					}
				}
				.modal__select-btngroup {
					float: left;
					width: 10%;
					text-align: center;
					height: 300px;
					padding: 116px 0;

					.btn {
						background: none;
						color: $offwhite;
						>i {
							margin-right: 0;
						}
						&:hover {
							color: $aColor;
						}
					}
				}
			}
		}
		.modal__footer {
			padding: 15px;
			text-align: right;
			border-top: 1px solid $borderColor;

			.btn {
				margin-right: 8px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&.fade {
		.modal--dialog {
			-webkit-transition: transform .3s ease-out;
			-moz-transition: transform .3s ease-out;
			-ms-transition: transform .3s ease-out;
			transition: transform .3s ease-out;
			-webkit-transform: translate(0, -25%);
			-moz-transform: translate(0, -25%);
			-ms-transform: translate(0, -25%);
			transform: translate(0, -25%);
		}
	}
	&.in {
		.modal--dialog {
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
}
